<div (click)="gotohome()" class="backbtn">
    <button mat-fab disabled aria-label="Example icon button with a heart icon">
        <i id="backbtnicon" class="material-icons">arrow_back</i>
    </button>
</div>
<div class="container">
    <h1 id="header">DASHBOARD</h1>
    <div class="loggedmsg">
        <p>{{loggedid}}</p>
    </div>
    <h1 class="selected">{{sel}}</h1>
    <div class="down">
        <div class="left">
            <app-box-button (onaction)="onrejecttabselected()" [title]="'Rejected'" [icon]="'report_problem'"></app-box-button>
            <app-box-button (onaction)="onaccepttabselected()" [title]="'Accepted'" [icon]="'done_all'"></app-box-button>
            <app-box-button (onaction)="onpendingtabselected()" [title]="'Pending'" [icon]="'query_builder'"></app-box-button>    
        </div>
        <div class="verticalline"></div>
        <div class="right">
            <table class="table-div">
                <thead>
                    <tr>
                        <td id="head-cell">NIC</td>
                        <td id="head-cell">Name</td>
                        <td id="head-cell">Phone No.</td>
                        <td id="head-cell">Address</td>
                        <td id="head-cell">Device Code</td>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td id="data-cell">{{user.nic}}</td>    
                        <td id="data-cell">{{user.name}}</td>  
                        <td id="data-cell">{{user.phone}}</td>
                        <td id="data-cell">{{user.address}}</td>
                        <td id="data-cell">{{user.macHash}}</td>
                        <td *ngIf="user.status=='Pending'" id="data-cell"><button (click)="updateStatus(user.nic,'Approved')">Approve</button></td> 
                        <td *ngIf="user.status=='Pending'" id="data-cell"><button (click)="updateStatus(user.nic,'Rejected')">Reject</button></td>              
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
