html
{
 margin:0px;
 padding: 0px;
 height:100%;
 width:100%; 
 -webkit-background-size:cover;
 -o-background-size:cover;
 -moz-background-size:cover;
 background-size:cover;
}

body
{
 margin:0px;
 padding: 0px;
 height:100%;
 width:100%; 
 -webkit-background-size:cover;
 -o-background-size:cover;
 -moz-background-size:cover;
 background-size:cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
